body {
    font-family:'Georgia', serif;;
    background-color: #bddeff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #0977e5;
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    width: 50%; 
    height: auto; 
    margin: 0 auto; 
    display: block; 
}

.image-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.image-item {
    width: 45%; 
    max-width: 400px;  
    height: auto;
    float: right;  
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.responsive-image {
    width: 50%;             
    max-width: 50%;         
    height: auto;             
    border-radius: 8px;       
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
    display: block;          
    margin: 10px auto;        
}


.responsive-content p {
     width: 100%;                      
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid #1b1b1b;  
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333; 
}

tbody tr:hover td {
    background-color: #a3d2fe;
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin-right: 20px; 
}


nav ul li a {
    text-decoration: none; 
    color: #0f141c;
    font-weight: bold;
}

nav ul li a:hover {
    color: #45aaf2; 
}

.highlight {
    font-weight: bold;
    color: #0a0a09; 
}

#design-overview {
    margin: 20px 0;
}

.homepage-screenshot {
    width: 45%;                    
    height: 45%;                       
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

a:focus {
    outline: 2px solid #45aaf2;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 3px;
    width: 100%;
}

